.vscode/
*a.out
/src/cuda/CMakeFiles/
/src/cuda/cmake_install.cmake
/src/cuda/CMakeCache.txt
/src/cuda/Makefile
/src/mpi/data/matrix/bin/
/src/mpi/data/matrix/txt/
src/mpi/mat_generator/libmy_lib.a
src/mpi/mat_generator/main
src/mpi/mat_generator/mat_generator.o
src/mpi/util/utils.o
src/mpi/libmy_lib.a
src/mpi/mat_mul.o
src/mpi/nohup.out
/src/mpi_cuda/cuda/CMakeFiles
/src/mpi_cuda/cuda/cmake_install.cmake
/src/mpi_cuda/cuda/CMakeCache.txt
/src/mpi_cuda/cuda/Makefile
